@charset "UTF-8";
/*-- 头部 标签tab --*/
.index-header {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 10;
}

.index-header-ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	width: 100%;
	display: flex;
}

.index-header-ul-3 {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	width: 364px;
	margin: 0 auto;
}

.header-tab {
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1;
	-webkit-align-content: center;
	-moz-align-content: center;
	align-content: center;
	padding-top: 10px;
	margin: 0;
}

li.header-tab:nth-child(1) {
	text-align: right;
}

.header-tab>a {
	font-size: 14px;
	color: #b4bdc8;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, .9);
	padding: 2px 8px;
	font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC",
		"Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-style: normal;
}

.header-tab>a.active, .header-tab>a:hover, .sub_tab li>a:hover {
	color: #FDBB36;
	border: 1px solid #FDBB36;
	border-radius: 20px;
	background-color: #fef1d7;
}

.sub_tab {
	display: none;
	clear: both;
}

.sub_tab.on {
	display: block;
}

.sub_tab li {
	padding: 0;
	margin: 5px auto;
	font-size: 12px;
	cursor: pointer;
	float: left;
}

.sub_tab li>a {
	color: #b4bdc8;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, .9);
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
}

/* 轮播图 */
#banner .flexslider {
	border: none;
	z-index: 1;
	margin-bottom: 0;
	overflow: hidden;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
}

#banner .flexslider .slides {
	position: relative;
	overflow: hidden;
}

#banner .flexslider .slides li {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 270px;
	max-height: 740px;
	position: relative;
}

#banner .flexslider .slides li:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '';
	z-index: 1;
}

#banner .flexslider .flex-control-nav {
	bottom: 40px;
	z-index: 1000;
}

#banner .flexslider .flex-control-nav li a {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: none;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

#banner .flexslider .flex-control-nav li a.flex-active {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.7);
}

#banner .flexslider .flex-direction-nav {
	display: none;
}

#banner .flexslider .slider-text {
	display: table;
	opacity: 0;
	min-height: 700px;
	z-index: 9;
}

#banner .flexslider .slider-text a:hover {
	color: #fff !important;
}

#banner .flexslider .slider-text>.slider-text-inner {
	display: table-cell;
	vertical-align: middle;
	min-height: 700px;
}

#banner .flexslider .slider-text>.slider-text-inner h2 {
	font-size: 60px;
	font-weight: 400;
	color: #fff;
}

.logo {
	position: relative;
}

.logo img {
	width: 190px;
	max-width: 190px;
}

.logo span {
	color: #FDBB36;
	font-size: 16px;
	position: absolute;
	width: 80px;
	left: 85px;
	top: 55px;
}

@media screen and (max-width: 768px) {
	#banner .flexslider .slider-text>.slider-text-inner h2 {
		font-size: 40px;
	}
	.logo img {
		width: 120px;
	}
	.logo span {
		color: #FDBB36;
		font-size: 12px;
		position: absolute;
		width: 80px;
		left: 55px;
		top: 35px;
	}
}

/*== 导航 ==*/
.header-nav {
	height: auto;
	width: 110px;
	position: absolute;
	top: 60px;
	left: 10px;
	z-index: 2;
}

.navigation {
	margin-top: 15px;
}

.navigation li a {
	color: #333;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	margin: 3px 0;
	padding: 0 8px;
	text-shadow: -1px 1px 1px rgba(255, 255, 255, .9);
}

.navigation li a:hover, .navigation li a.active {
	border-left: 5px solid #FDBB36;
	color: #FDBB36;
	padding: 0 3px;
}

/*==底部==*/
footer {
	background-color: #222222;
	color: #fff;
}

.link-flex {
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: flex !important;
	width: 100%;
	padding: 0;
	-webkit-align-content: center;
	-moz-align-content: center;
	align-content: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
}

.link-flex-item {
	margin: 10px 0;
	padding: 5px;
	max-width: 200px;
	/* box-shadow: 0 0 2px 1px rgba(146, 146, 146, .6); */
	margin-right: 15px;
}

.link-flex a {
	font-size: 14px;
	color: #333;
	text-shadow: 1px 1px 1px rgba(253, 187, 54, .4);;
}

.link-flex a:hover {
	color: #fdbb36;
}

.footer-flex {
	flex-flow: column wrap;
	-moz-flex-flow: column wrap;
	-webkit-flex-flow: column wrap;
}

.footer-left {
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1;
}

.footer-right {
	-webkit-flex:1;
	-moz-flex: 1;
	flex: 1;
    width: 100%;
	text-align: center;
}

.footer-right img {
	margin: 0 auto;
	min-width: 85px;
	max-width: 120px;
	width: 45%;
}

/*== 分页 ==*/
.pagination li a {
	color: #333;
	margin: 0 5px;
	border: 0;
}

.pagination li a:hover, .pagination>.active>a {
	color: #fff;
	background-color: #fdbb36 !important;
}

/**内容 */
.section-padding {
	padding-top: 65px;
	padding-bottom: 65px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	clear: both;
}

.bg {
	background-repeat: repeat-x;
	background-position: center center;
	background-size: cover;
	-webkit-transition: all .5s ease-in-out 1s;
	-o-transition: all .5s ease-in-out 1s;
	-moz-transition: all .5s ease-in-out 1s;
	transition: all .5s ease-in-out 1s;
}

.bg-big {
	background-size: 120%;
	-webkit-transition: all .5s ease-in-out 1s;
	-o-transition: all .5s ease-in-out 1s;
	-moz-transition: all .5s ease-in-out 1s;
	transition: all .5s ease-in-out 1s;
}

.bg-grey {
	background-color: #f2f2f2;
}

.bg-opacity {
	background-color: #000;
	-moz-opacity: 0.7;
	opacity: .70;
	filter: alpha(opacity = 70);
}

.content-flex {
	display: -webkit-flex !important;
	display: flex !important;
	width: 100%;
	min-height: 100px;
	padding: 0;
	-webkit-align-content: center;
	align-content: center;
	-webkit-align-items: center;
	align-items: center;
	margin-top: 0px;
}

.content-flex-wrap {
	flex-wrap: wrap;
	margin: 0 auto;
}

.flex-space-between {
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
}

.flex-space-around {
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
}

.content-flex-items {
	-webkit-flex: 1 !important;
	-moz-flex: 1 !important;
	flex: 1 !important;
}

.content-thin-items {
	-webkit-flex: 0 10% !important;
	-moz-flex: 0 10% !important;
	flex: 0 10% !important;
}

.link-btn {
	border: 2px solid #FDBB36;
	padding: 3px 10px;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
}

.link-btn i {
	font-size: 12px;
}

.link-btn:hover {
	border: 1px solid #F7E1B5;
}

.btn-sign {
	padding: 12px 60px;
	background-color: #FDBB36;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	border: none;
}

.btn-sign:hover {
	background-color: #F7E1B5;
}

.show-tab {
	position: fixed;
	bottom: 1%;
	right: 0;
	z-index: 99;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-ms-transition: all .5s ease-in;
	transition: all .5s ease-in;
}

.linkus-box {
	display: -webkit-flex;
	display: flex;
	padding: 5px;
	flex-direction: column;
	background: none;
	height: 233px;
}

.linkus-box li {
	display: table;
	vertical-align: middle;
	margin: 3px auto;
}

.linkus-box li a {
	text-align: center;
	width: 111px;
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	color: #333;
	line-height: 30px;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 20px;
}

.linkus-box li a i {
	font-size: 20px;
}

.linkus-box li.foot {
	margin-top: 3px;
}

.back-box {
	display: -webkit-flex;
	display: flex;
	padding: 0 10px;
	flex-direction: column;
}

.back-box li {
	display: table;
	vertical-align: middle;
	margin: 3px 0;
}

.back-box li a {
	width: 115px;
	display: table-cell;
	vertical-align: middle;
	font-size: 13px;
	color: #999;
}

.back-box li a i {
	display: inline-block;
	height: 38px;
	width: 55px;
	font-size: 25px;
	background: #fff;
	border: 1px solid #999;
	text-align: center;
	line-height: 36px;
	border-right: 0;
}

.back-box li a span {
	background-color: #fff;
	position: absolute;
	display: inline-block;
	margin-left: -18px;
	border: 1px solid #999;
	z-index: -1;
	height: 38px;
	line-height: 38px;
	width: 125px;
	padding-left: 20px;
}

.back-box li a:hover {
	color: #FDBB36;
}

.back-box li a:hover i {
	background-position: 0 40px;
}

#banner {
	z-index: 9
}

#back-top i {
	background-size: 40px;
}

.news-content {
	border-top: 2px solid #eee;
}

.news-content img {
	margin: 0 auto;
}

.news-list {
	width: 100%;
	clear: both;
	text-align: left;
}

.news-list li {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	padding: 0 20px;
	color: #999;
}

.news-list li a {
	width: 280px;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: inline-block;
	color: #333;
	text-align: left;
}

.news-list li:hover a {
	color: #fdbb36;
}

.news-list li span {
	display: none;
	min-width: 150px;
	float: right;
}

.class-title {
	font-size: 24px;
	border-radius: 24px;
	color: #fff;
	margin: 0 auto;
	padding: 5px 25px;
	background-color: rgba(255, 0, 0, 1);
}

.span-title {
	font-size: 24px;
	border-radius: 24px;
	color: #fff;
	margin: 0 auto;
	padding: 5px 25px;
}

.bg-red {
	background-color: #ff0000 !important;
}

.bg-yellow {
	background-color: #fcbb35 !important;
}

.bg-blue {
	background-color: #35a1fc !important;
}

.border-radius {
	position: relative;
}

.modal-header {
	display: none;
}

.poster-div {
	position: fixed;
	top: 30%;
	z-index: 2147483648;
	left: -moz-calc(55%/ 2);
	left: -webkit-calc(55%/ 2);
	left: 10%;
	width:80%;
}

.poster-close {
	position: absolute;
	right: 0;
	top: -5px;
	color: red;
	font-size: 30px !important;
	cursor: pointer;
}