<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdm.mybatis.mapper.BannerMapper">
	
	<resultMap id="BannerResultMap" type="BannerBean" >
		<id property="bid" column="bid"/>
		<result property="title" column="title"/>
		<result property="type" column="type"/>
		<result property="sort" column="sort"/>
		<result property="imgUrl" column="imgUrl"/>
		<result property="linkUrl" column="linkUrl"/>
		<association property="code" column="bannerCode" javaType="BannerCodeBean">
			<id property="cid" column="cid"/>
			<result property="name" column="cName"/>
			<result property="bannerCode" column="bCode"/>
		</association>
	</resultMap>

	<select id="selectTotal" resultType="java.lang.Integer">
		SELECT count(*) 
		FROM banner 
		<where>
			<if test="code != null">bannerCode = #{bannerCode}</if>
			<if test="type != null">and type = #{type}</if>
        </where>
	</select>
	
	<select id="selectBannerById" resultType="BannerBean">
		SELECT *
		FROM banner 
		where bid = #{bid}
		order by sort
	</select>
	
	<select id="selectBannersInPage" resultMap="BannerResultMap">
		SELECT b.*,c.cid as cid, c.name as cName, c.bannerCode as bCode
		FROM banner b
		left join banner_code c
		on b.bannerCode = c.BannerCode
		<where>
			<if test="code != null">b.bannerCode = #{bannerCode}</if>
			<if test="type != null">and b.type = #{type}</if>
        </where>
		order by b.bannerCode,b.sort
		LIMIT #{start}, #{pageSize}
	</select>
	
	<insert id="insertBanner" parameterType="BannerBean">
		INSERT INTO banner (bid, title, linkUrl, imgUrl, sort, bannerCode, type)
		values (#{bid}, #{title}, #{linkUrl}, #{imgUrl}, #{sort}, #{bannerCode}, #{type})
	</insert>
	
	<update id="updateBanner" parameterType="BannerBean">
		UPDATE banner
		<set>
			<if test="title != null">
				title = #{title},
			</if>
			<if test="linkUrl != null">
				linkUrl = #{linkUrl},
			</if>
			<if test="imgUrl != null">
				imgUrl = #{imgUrl},
			</if>
			<if test="sort != null and sort > 0">
				sort = #{sort},
			</if>
			<if test="bannerCode != null and bannerCode > 0">
				bannerCode = #{bannerCode},
			</if>
			<if test="type != null and type > 0">
				type = #{type},
			</if>

		</set>
		where bid = #{bid}
	</update>

	<delete id="deleteBannerById">
		DELETE FROM banner WHERE bid = #{bid}
	</delete>
	
	
	<!-- banner code -->
	
	<select id="selectBannerCode" resultType="BannerCodeBean">
		SELECT *
		FROM banner_code 
	</select>
	
	
	<select id="selectBannerCodeById" resultType="BannerCodeBean">
		SELECT *
		FROM banner_code 
		where cid = #{cid}
	</select>
	
	<insert id="insertBannerCode" parameterType="BannerBean">
		INSERT INTO banner_code (cid, name, bannerCode)
		values (#{cid}, #{name}, #{bannerCode})
	</insert>
	
	<update id="updateBannerCode" parameterType="BannerBean">
		UPDATE banner_code
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="bannerCode != null and bannerCode > 0">
				bannerCode = #{bannerCode},
			</if>
		</set>
		where cid = #{cid}
	</update>

	<delete id="deleteBannerCodeById">
		DELETE FROM banner_code WHERE cid = #{cid}
	</delete>
	
</mapper>