<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdm.mybatis.mapper.CoursePackMapper">

	
	<select id="selectCoursePacksInPage" resultType="CoursePackBean">
		SELECT * 
		FROM course_pack 
		<where>
			<if test="homeId != null">and homeId = #{homeId}</if>
        </where>
        ORDER BY homeId,sort desc
		LIMIT #{start}, #{pageSize}
	</select>

	<select id="selectTotal" resultType="java.lang.Integer">
		SELECT count(*) 
		FROM course_pack 
		<where>
			<if test="homeId != null">and homeId = #{homeId}</if>
        </where>
	</select>
	
	<select id="selectCoursePackById" resultType="CoursePackBean">
		SELECT * 
		FROM course_pack 
		where cid = #{cid}
	</select>
	
	<insert id="insert" parameterType="CoursePackBean">
		insert into course_pack (cid, name, brief, img, sort, homeId, teacher)
		values (#{cid}, #{name}, #{brief}, #{img},#{sort}, #{homeId}, #{teacher});
	
	</insert>
	
	<insert id="update" parameterType="CoursePackBean">
		UPDATE course_pack
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="brief != null">
				brief = #{brief},
			</if>
			<if test="img != null">
				img = #{img},
			</if>
			<if test="homeId != null">
				homeId = #{homeId},
			</if>
			<if test="teacher != null">
				teacher = #{teacher},
			</if>
			<if test="sort != null and sort > 0">
				sort = #{sort},
			</if>
			
		</set>
		where cid = #{cid}
	</insert>
	
	<delete id="deleteById">
		DELETE FROM course_pack WHERE cid = #{cid}
	</delete>
	
</mapper>