<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdm.mybatis.mapper.LinkMapper">

	<select id="selectLinksInPage" resultType="LinkBean">
		SELECT * 
		FROM link 
        ORDER BY sort desc
		LIMIT #{start}, #{pageSize}
	</select>

	<select id="selectTotal" resultType="java.lang.Integer">
		SELECT count(*) 
		FROM link 
	</select>
	
	<select id="selectLinkById" resultType="LinkBean">
		SELECT * 
		FROM link 
		where lid = #{lid}
	</select>
	
	<insert id="insert" parameterType="LinkBean">
		insert into link (lid, linkName, img, linkUrl, sort)
		values (#{lid}, #{linkName}, #{img}, #{linkUrl}, #{sort});
	</insert>
	
	<insert id="update" parameterType="LinkBean">
		UPDATE link
		<set>
			<if test="linkName != null">
				linkName = #{linkName},
			</if>
			<if test="linkUrl != null">
				linkUrl = #{linkUrl},
			</if>
			<if test="img != null">
				img = #{img},
			</if>
			<if test="sort != null and sort > 0">
				sort = #{sort},
			</if>
		</set>
		where lid = #{lid}
	</insert>
	
	<delete id="deleteById">
		DELETE FROM link WHERE lid = #{lid}
	</delete>
	
</mapper>