<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdm.mybatis.mapper.PageContentMapper">
	
	<select id="selectPageContentInPage" resultType="PageContentBean">
		SELECT *
		FROM page_content
		<where>
			<if test="targetId != null">targetId = #{targetId}</if>
        </where>
        ORDER BY type,sort
		LIMIT #{start}, #{pageSize}
	</select>
	
	<select id="selectTotal" resultType="java.lang.Integer">
		SELECT count(*) 
		FROM page_content
		<where>
			<if test="targetId != null">targetId = #{targetId}</if>
        </where>
	</select>
	
	
	<select id="selectPageContentById" resultType="PageContentBean">
		SELECT *
		FROM page_content
		where pid = #{pid}
	</select>
	
	
	<insert id="insert" parameterType="PageContentBean">
		INSERT INTO page_content 
			(pid, title, subTitle, content, 
			pic, background, sort, contentId, targetId, type)
		values (#{pid}, #{title}, #{subTitle}, #{content}, #{pic}
			, #{background}, #{sort}, #{contentId}, #{targetId}, #{type})
	</insert>
	
	<update id="update" parameterType="PageContentBean">
		UPDATE page_content
		<set>
			<if test="title != null">
				title = #{title},
			</if>
			<if test="subTitle != null">
				subTitle = #{subTitle},
			</if>
			<if test="content != null">
				content= #{content},
			</if>
			<if test="pic != null">
				pic = #{pic},
			</if>
			<if test="background != null">
				background = #{background},
			</if>
			<if test="sort != null and sort > 0">
				sort = #{sort},
			</if>
			<if test="contentId != null">
				contentId = #{contentId},
			</if>
			<if test="targetId != null">
				targetId = #{targetId},
			</if>
			<if test="type != null and type > 0">
				type = #{type},
			</if>
		</set>
		where pid = #{pid}
	</update>

	<delete id="deleteById">
		DELETE FROM page_content WHERE pid = #{pid}
	</delete>
	
</mapper>