<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdm.mybatis.mapper.StudentMapper">

	
	<select id="selectStudentsInPage" resultType="StudentBean">
		SELECT s.sid,ifnull(p.name, s.name) as name,ifnull(p.brief, s.brief) as brief,ifnull(p.img, s.img) as img
		FROM student_on_phone p 
		LEFT JOIN student s
		on p.sid = s.sid
		<where>
			s.isMobile = 1
        </where>
        ORDER BY s.sort desc
		LIMIT #{start}, #{pageSize}
	</select>

	<select id="selectTotal" resultType="java.lang.Integer">
		SELECT count(*) 
		FROM student_on_phone 
	</select>
	
	
	<insert id="insertQuestion" parameterType="QuestionBean">
		INSERT INTO student_question (qid, name, telephone, type, question, createTime)
		values (#{qid}, #{name}, #{telephone}, #{type}, #{question}, now())
	</insert>
</mapper>