<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdm.mybatis.mapper.TeacherMapper">

	
	<select id="selectTeachersInPage" resultType="TeacherBean">
		SELECT
			t.tid,
			t.`name`,
			t.brief,
			t.detail,
			t.img,
			p. LEVEL,
			p.direction,
			tt.targetId
		FROM
			teacher t
		left JOIN teacher_on_phone p
		on t.tid = p.tid
		left join teacher_target tt
		on t.tid = tt.tid
		<where>
			<if test="targetId != null and targetId > 0">tt.targetId = #{targetId}</if>
			<if test="level != null and level > 0">and p.level =#{level}</if>
        </where>
        ORDER BY t.sort desc
		LIMIT #{start}, #{pageSize}
	</select>

	<select id="selectTotal" resultType="java.lang.Integer">
		SELECT count(*) 
		FROM
			teacher t
		left JOIN teacher_on_phone p
		on t.tid = p.tid
		left join teacher_target tt
		on t.tid = tt.tid
		<where>
			<if test="targetId != null and targetId > 0">tt.targetId = #{targetId}</if>
			<if test="level != null and level > 0">and p.level =#{level}</if>
       		<if test="type != null and level > 0">and p.level =#{level}</if>
     
        </where>
	</select>
</mapper>