<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fda.mybatis.mapper.EnvironmentMapper">


	<select id="selectEnvironmentsInPage" resultType="EnvironmentBean">
		SELECT *
		FROM environment e
		<where>
			<if test="type != null">type = #{type}</if>
        </where>
        ORDER BY type,sort
		LIMIT #{start}, #{pageSize}
	</select>
	
	<select id="selectTotal" resultType="java.lang.Integer">
		SELECT count(*) 
		FROM environment e
		<where>
			<if test="type != null">type = #{type}</if>
        </where>
	</select>
	
	
	<select id="selectEnvironmentById" resultType="EnvironmentBean">
		SELECT *
		FROM environment e
		where eid = #{eid}
	</select>
	
	
	<insert id="insert" parameterType="EnvironmentBean">
		INSERT INTO environment (eid, url, sort, name, isDel, type)
		values (#{eid}, #{url}, #{sort}, #{name}, #{isDel}, #{type})
	</insert>
	
	<update id="update" parameterType="EnvironmentBean">
		UPDATE environment
		<set>
			<if test="url != null">
				url = #{url},
			</if>
			<if test="sort != null">
				sort = #{sort},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="isDel != null and isDel > 0">
				isDel = #{isDel},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
		</set>
		where eid = #{eid}
	</update>

	<delete id="deleteById">
		DELETE FROM environment WHERE eid = #{eid}
	</delete>

</mapper>