<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fda.mybatis.mapper.IndexContentMapper">


	<select id="selectContentInPage" resultType="IndexContentBean">
		SELECT i.*, h.name as homeName
		FROM index_content i
			left JOIN home h
		on i.homeId = h.hid
		<where>
			<if test="homeId != null"> homeId = #{homeId}</if>
        </where>
		order by sort
		LIMIT #{start}, #{pageSize}
	</select>

	<select id="selectTotal" resultType="java.lang.Integer">
		SELECT count(*) 
		FROM index_content 
		<where>
			<if test="homeId != null"> homeId = #{homeId}</if>
        </where>
	</select>
	
	
	<select id="selectContentById" resultType="IndexContentBean">
		SELECT * 
		FROM index_content 
		where mid = #{mid}
	</select>
	
	<insert id="insert" parameterType="StudentBean">
		insert into index_content 
		(mid, homeId, name, subName, subImg , 
			brief, background, icon, sort, contentId, url,contentType)
		values
		 (#{mid}, #{homeId}, #{name}, #{subName}, #{subImg}, 
			 #{brief}, #{background}, #{icon}, #{sort}, #{contentId}, #{url} ,#{contentType});
	
	</insert>
	
	<insert id="update" parameterType="StudentBean">
		UPDATE index_content
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="subName != null">
				subName = #{subName},
			</if>
			<if test="homeId != null">
				homeId = #{homeId},
			</if>
			<if test="subImg != null">
				subImg = #{subImg},
			</if>
			<if test="brief != null">
				brief = #{brief},
			</if>
			<if test="background != null">
				background = #{background},
			</if>
			<if test="icon != null">
				icon = #{icon},
			</if>
			<if test="url != null">
				url = #{url},
			</if>
			<if test="sort != null and sort > 0">
				sort = #{sort},
			</if>
		</set>
		where mid = #{mid}
	</insert>
	
	<delete id="deleteById">
		DELETE FROM index_content WHERE mid = #{mid}
	</delete>

</mapper>