<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdw.mybatis.mapper.EnvironmentMapper">


	<select id="selectEnvironments" resultType="EnvironmentBean">
		SELECT *
		FROM environment 
		<where>
			 isDel != 1
			<if test="type != null">and type  = #{type}</if>
        </where>
		order by sort;
	</select>

</mapper>