<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdw.mybatis.mapper.TeacherMapper">

	
	<select id="selectTeachersInPage" resultType="TeacherBean">
		SELECT
			t.*
		FROM
			teacher t
		LEFT JOIN teacher_home th ON t.tid = th.teacherId
		<where>
			<if test="type != null and type != 0">t.type = #{type}</if>
			<if test="homeId">and th.homeId = #{homeId}</if>
        </where>
        ORDER BY t.type,t.sort desc
        <if test="start != null and start >= 0">
		LIMIT #{start}, #{pageSize}
        </if>
	</select>

	<select id="selectTotal" resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM
			teacher t
		LEFT JOIN teacher_home th ON t.tid = th.teacherId
		<where>
			<if test="type != null and type != 0">t.type = #{type}</if>
			<if test="homeId">and th.homeId = #{homeId}</if>
        </where>
	</select>

</mapper>